@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: "Poppins", serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#373B44, #4286f4);
}

.container {
    width: 400px;
    padding: 50px 40px;
    background-color: #ecf0f1;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 20px 20px 40px rgba(97, 63, 0, 0.4);
}

span {
    display: block;
    text-align: center;
    margin-top: -30px;
    color: #4286f4;
    font-size: 30px;
}
    
p {
    font-size: 16px;
    box-shadow: 0 0 20px rgba(0, 139, 253, 0.28);
    text-align: center;
    word-wrap: break-word;
    line-height: 30px;
    margin: 30px 0;
    padding: 10px;
    opacity: 0;
}

.fade {
    opacity: 1;
    transition: opacity 0.1s;
}

button {
    display: block;
    font-size: 18px;
    color: #ecf0f1;
    background-color: #4286f4;;
    outline: none;
    border: 1px solid #373B44;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 auto;
    cursor: pointer;
}