/* Unversal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #808080;
    font-family: sans-serif;
    width: 100%;
}

.container {
    margin: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

aside {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
}

h3, small {
    text-align: center;
    margin: 10px auto;
    width: 50%;
}

form {
    margin: 10px;
}

input {
    width: 90%;
    padding: 5px;
    line-height: 2;
    margin: 5px 0;
}

textarea {
    width: 90%;
    padding: 5px;
}

img {
    width: 700px;
    border-radius: 5px;
}