body {
    background-color: lightblue;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    text-transform: uppercase;
}

button {
    background-color: #f78b7f;
    color: #ecf0f1;
    border: silver;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

select {
    background-color: #f78b7f;
}

input {
    background-color: white;
}